<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="http://d3js.org/d3.v4.min.js"></script>
    <script src="http://dimplejs.org/dist/dimple.v2.3.0.min.js"></script>

    <!--
    <script type="text/javascript" src="{{ url_for('static', filename = 'd3.layout.cloud.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename = 'charts.js') }}"></script>
    -->

    <script type="text/javascript" src="{{ url_for('static', filename = 'utils.js') }}"></script>


    <title>AI Test</title>
</head>

<!-- https://stash.murex.com/projects/PROC/repos/trepcore-ci-dashboard/browse/index.html -->
<!-- https://getbootstrap.com/docs/4.0/getting-started/introduction/ -->
<!-- https://reactjs.org/tutorial/tutorial.html -->
<!-- https://www.w3schools.com/jquery/jquery_ajax_get_post.asp -->
<!-- http://dimplejs.org/ -->

<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">AI Test</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active" id="guess_link">
        <a class="nav-link" href="#/guess">Guess</a>
      </li>
      <li class="nav-item active" id="explore_link">
        <a class="nav-link" href="#/explore">Explore</a>
      </li>
    </ul>
  </div>
</nav>

<div class="container-fluid">

  <!-- Guess panel (ask anything to the AI)  -->

  <div id="guess_panel">
    <div class="row" style="margin-top: 25px;">
      <div class="col-sm-12">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">Fix description</span>
          </div>
          <input id="fix-description-input" type="text" class="form-control"
                 placeholder="Fix description" aria-label="FixDescription"
                 aria-describedby="fix-description-input"/>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <div class="border" style="padding: 25px" id="guess_panel_result"></div>
      </div>
    </div>
  </div>

  <!-- Explore panel  -->
  <!-- TODO - show a word cloud -->

  <div id="explore_panel">
    <div class="row" style="margin-top: 25px;">
      <div class="col-sm-12">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">Enter a word</span>
          </div>
          <input id="word-input" type="text" class="form-control"
                 placeholder="Enter a word" aria-label="Word"
                 aria-describedby="word-input"/>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <div class="border" style="padding: 25px" id="explore_panel_result"></div>
      </div>
    </div>
  </div>

  </div>
</div>

<script>
    let guess = false;

    function addGuessLine(line) {
      $("#guess_panel_result").append('<p>' + line + '</p>');
    }

    function addWordLine(line) {
      $("#explore_panel_result").append('<p>' + line + '</p>');
    }

    function onNewGuess() {
      fix_description = $("#fix-description-input").val();
      if (fix_description === "")
        return;

      addGuessLine(fix_description);
      $("#fix-description-input").val("");
      $.ajax({
        url: 'http://{{host}}:{{port}}/devoxx/guess',
        type: 'POST',
        data: fix_description,
        contentType: "text/plain",
        success: function(data) { addGuessLine("&gt; " + data); }
      });
    }

    function onWordQuery() {
      word = $("#word-input").val();
      if (word === "")
        return;

      addWordLine(word);
      $("#word-input").val("");
      $.ajax({
        url: 'http://{{host}}:{{port}}/devoxx/neighbors',
        type: 'POST',
        data: word,
        contentType: "text/plain",
        success: function(data) { addWordLine("&gt; " + data); }
      });
    }

    function getRoute() {
      return (window.location.hash.split('#')[1] || '').split('?')[0];
    }

    function reroute() {
      let route = getRoute();
      guess = (route === "/guess");

      setVisible("#guess_panel", guess);
      setVisible("#explore_panel", !guess);

      if (guess) {
        $("#guess_link").addClass("active");
        $("#explore_panel").removeClass("active");
      } else {
        $("#guess_link").removeClass("active");
        $("#explore_panel").addClass("active");
      }
    }

    // On ready

    $(document).ready(function() {
      window.onhashchange = function() {
        reroute();
        // refreshWordCloud();
      }

      window.onresize = function(event) {
        // resizeAllCanvas();
        // refreshWordCloud();
      };

      $("#fix-description-input").change(onNewGuess);
      $("#word-input").change(onWordQuery);

      reroute();
      // refreshWordCloud();
    });

</script>

</body>
</html>
